.admin-home {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5vh;

    .green-button-admin {
      height: 15vh;
      width: 65vw;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: green;
      color: white;
      border-radius: 20px;
      font-family: 'Edu TAS Beginner', cursive;
      font-size: 40px;
      text-decoration: none;
      margin: 2vh;
    }
  }
}