.admin-home {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}