.checked-out-book-button {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  padding: 0vh 0vw 1vh 0vw;
  background-color: green;
  border-radius: 20px;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 5vw;
  color: white;
  text-decoration: none;
  box-shadow: 7px 6px 28px 5px rgba(0, 0, 0, 0.24);
  text-overflow: ellipsis;
  transition: 0.2s;

  &__book-title {
    display: flex;
    text-align: center;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 7vw;
  }

  &__held-by {
    display: flex;
    text-align: center;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 3vh;
    align-items: center;
  }

  &__held-length {
    display: flex;
    text-align: center;
    border-radius: 5px;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 5vw;
    align-items: center;
    justify-content: center;
  }

  &__to-book-info {
    display: flex;
    width: 50vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 3vh;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: darkgreen;
  }

  &__held-by-user {
    display: flex;
    align-items: center;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
  }
  
  button {
    align-self: center;
    outline: none;
    border: none;
  }
}

