.checked-out-book-button {
  display: grid;
  grid-template-columns: [left-s] 62vw [left-e right-s] 35vw [right-e];
  grid-template-rows: [book-title-s] 1fr [book-title-e row-1-s] 1fr [row-1-e];
  height: 20vh;
  margin: 2vw;
  background-color: green;
  border-radius: 20px;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 5vw;
  color: white;
  text-decoration: none;
  box-shadow: 7px 6px 28px 5px rgba(0, 0, 0, 0.24);
  transition: 0.2s;

  &__book-title {
    grid-column: left-s/left-e;
    grid-row: book-title-s/book-title-e;
    display: flex;
    text-align: center;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 7vw;
  }

  &__held-by {
    grid-column: left-s/left-e;
    grid-row: row-1-s/row-1-e;
    display: flex;
    text-align: center;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 3vh;
    align-items: center;
  }

  &__held-length {
    grid-column: right-s/right-e;
    grid-row: book-title-s/book-title-e;
    display: flex;
    text-align: center;
    border-radius: 5px;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 5vw;
    align-items: center;
    justify-content: center;
  }

  &__to-book-info {
    grid-column: right-s/right-e;
    grid-row: row-1-s/row-1-e;
    display: flex;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 3vh;
    align-items: center;
    border-radius: 20px;
    background-color: darkgreen;
  }

  &__held-by-user {
    grid-column: left-s/left-e;
    grid-row: row-2-s/row-2-e;
    display: flex;
    align-items: center;
    margin: 1vh 2vw;
    font-family: 'Edu TAS Beginner', cursive;
  }
  
  button {
    outline: none;
    border: none;
  }
}

