.header-wrapper {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;

  .header {
    display: flex;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 24px;
    position: absolute;
    text-decoration: none;
  }

  .logout-button {
    display: flex;
    align-content: center;
    height: 20px;
    padding: 3px 5px;
    margin-left: auto;
    position: absolute;
    transform: translateX(150px);
  }
}