.header-wrapper {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;

  .header {
    display: flex;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 24px;
    position: absolute;
    text-decoration: none;
  }

  .logout-button {
    height: 3.5vh;
    width: auto;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    border: none;
  }
}

@media screen and (orientation: landscape) {
  .header-wrapper {
    height: 10vh;
    width: 100vw;
  }

  .logout-button {
    height: 10vh;
    position: absolute;
    right: 0;
    transform: translateX(0px);
  }
}