.home {
  height: 95vh;
  display: flex;
  flex-direction: column;

  .welcome {
    margin: 1vh 5vw 3vh 5vw;
    color: green;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 32px;
  }

  .your-qr-code {
    margin: 1vh 5vw 3vh 5vw;
    color: green;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 32px;
  }

  .qr-code-wrapper {
    display: flex;
    align-items: center;
    height: auto;
    margin: 0 auto;
    max-width: 64;
  }

  .your-word-count {
    margin: 1vh 5vw 3vh 5vw;
    color: green;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 32px;
  }

  .your-book-count {
    margin: 1vh 5vw 3vh 5vw;
    color: green;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 32px;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}