.login-page {
  &__input-wrapper, form {
    height: 50vh;
    grid-template-columns: 10vw [input-field-s] 80vw [input-field-e] 20vw ;
    grid-template-rows: [username-label-s] 5vh [username-label-e username-input-s] 5vh [username-input-e] 10vh [password-label-s] 5vh [password-label-e password-input-s] 5vh [password-input-e spacer-s] 5vh [spacer-e login-button-s] 5vh [login-button-e];
  }

  &__username-label {
    grid-column: input-field-s/input-field-e;
    grid-row: username-label-s/username-label-e;
  }

  &__username-input {
    height: 5vh;
    grid-column: input-field-s/input-field-e;
    grid-row: username-input-s/username-input-e;
  }

  &__password-label {
    grid-column: input-field-s/input-field-e;
    grid-row: password-label-s/password-label-e;
  }

  &__password-input {
    height: 5vh;
    grid-column: input-field-s/input-field-e;
    grid-row: password-input-s/password-input-e;
  }

  &__login-button {
    grid-column: input-field-s/input-field-e;
    grid-row: login-button-s/login-button-e;
    height: 15vh;
    width: 65vw;
    align-items: center;
    align-self: center;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 48px;
    text-decoration: none;
  }

  input {
    border: none;
    border-bottom: 2px solid green;
    font-size: 24px;
  }

  input:focus {
    outline: none;
  }

  label {
    color: green;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 32px;
  }
}