.password-reset-wrapper, form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
  margin: 2vh 3vw;

  label {
    margin-bottom: 2vh;
    color: green;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 32px;
  }

  input {
    margin-bottom: 2vh;
    border: none;
    border-bottom: 2px solid green;
    font-size: 24px;
  }

  input:focus {
    outline: none;
  }

  .set-new-password {
    background: none;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  button, button:active, button:focus {
    border: none;
    border-style: outset;
    outline: none;
    background-color: darkgreen;
  }
}
