.register-book {
  display: flex;
  flex-direction: column;

  .register-book-form {
    height: 60vh;
    margin: 0vh 3vw;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
      color: green;
      font-family: 'Edu TAS Beginner', cursive;
      font-size: 32px;
    }
  
    input {
      border: none;
      border-bottom: 2px solid green;
      font-size: 24px;
    }
  
    input:focus {
      outline: none;
    }
  }
}
