.register-book {
  display: flex;
  flex-direction: column;

  .register-book-form {
    height: 60vh;
    margin: 0vh 3vw;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__book-pub-wrapper {
      display: flex;
      justify-content: space-between;

      select {
        height: 5vh;
        width: 50%;
        color: green;
        font-family: 'Edu TAS Beginner', cursive;
        font-size: 24px;
        border-radius: 25px;
        text-align: center;
        margin-bottom: 2vh;
      }
    };

    label {
      color: green;
      font-family: 'Edu TAS Beginner', cursive;
      font-size: 32px;
    }
  
    input {
      border: none;
      border-bottom: 2px solid green;
      font-size: 24px;
    }
  
    input:focus {
      outline: none;
    }
  }
}
