.qr-reader {
  align-items: center;
}

.scan-result-table {
  padding-left: 20px;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 20px;
  color: green;
  justify-content: center;
}

.scan-result {
  display: grid;
  grid-template-columns: [left-start] 20vw [left-end label-s] 80vw [label-e right-start] 20vw [right-end];
  grid-template-rows: [button-s] 5vh [button-e upc-label-s] 5vh [upc-label-e upc-s] 5vh [upc-e title-label-s] 5vh [title-label-e title-s] 5vh [title-e pub-label-s] 5vh [pub-label-e pub-s] 5vh [pub-e auth-label-s] 5vh [auth-label-e auth-s] 5vh [auth-e word-label-s] 5vh [word-label-e word-s] 5vh [word-e status-label-s] 5vh [status-label-e status-s] 5vh [status-e holder-label-s] 5vh [holder-label-e holder-s] 5vh [holder-e];
  // font-family: 'Edu TAS Beginner', cursive;
  font-size: 24px;
  color: darkgreen;
  align-items: center;

  &__upc-label {
    grid-row: upc-label-s/upc-label-e;
    height: 20px;
  }

  &__upc {
    grid-row: upc-s/upc-e;
  }

  &__title-label {
    grid-row: title-label-s/title-label-e;
  }

  &__title {
    grid-row: title-s/title-e;
  }

  &__publisher-label {
    grid-row: pub-label-s/pub-label-e;
  }

  &__publisher {
    grid-row: pub-s/pub-e;
  }

  &__author-label {
    grid-row: auth-label-s/auth-label-e;
  }

  &__author {
    grid-row: auth-s/auth-e;
  }

  &__word-count-label {
    grid-row: word-label-s/word-label-e;
  }

  &__word-count {
    grid-row: word-s/word-e;
  }

  &__status-label {
    grid-row: status-label-s/status-label-e;
  }

  &__status {
    grid-row: status-s/status-e;
  }

  &__current-holder-label {
    grid-row: holder-label-s/holder-label-e;
  }

  &__current-holder {
    grid-row: holder-s/holder-e;
  }
}

button {
  display: grid;
  grid-column: label-s/label-e;
  grid-row: button-s/button-e;
  background-color: green;
  color: white;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 24px;
}

.scan-result label {
  font-size: 32px;
  transform: translateX(-10px);
}


