.smaller-green-button {
  height: 10vh;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 20px;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 32px;
  text-decoration: none;
}