.student-profile {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  color: green;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 24px;

  .checked-out-books-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5vw;
  }

  .no-checked-out-books {
    margin-top: 3vh;
    align-self: center;
    color: black;
    border-radius: 5px;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
  }

  .other-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5vw;

    .reset-password-button {
      height: 5vh;
      width: 65vw;
      align-content: center;
      background: none;
      background-color: red;
      color: white;
      border-radius: 20px;
      font-family: 'Edu TAS Beginner', cursive;
      font-size: 24px;
      text-decoration: none;
    }
  }
}